@tailwind base;
@tailwind components;
@tailwind utilities;

.imgfarhan {
  transform: scale(2.9);
  margin-top: -70px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.imgputri {
  transform: scale(1.5);
  margin-top: -20px;
}

.momen-text {
  color: #9eabdf;
  text-shadow: 
    -2px 2px 0 #fff, 2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff,
    -3px 3px 0 #fff, 3px 3px 0 #fff, 3px -3px 0 #fff, -3px -3px 0 #fff,
    -4px 4px 0 #fff, 4px 4px 0 #fff, 4px -4px 0 #fff, -4px -4px 0 #fff,
    -5px 5px 0 #fff, 5px 5px 0 #fff, 5px -5px 0 #fff, -5px -5px 0 #fff,
    -6px 6px 0 #fff, 6px 6px 0 #fff, 6px -6px 0 #fff, -6px -6px 0 #fff,
    -7px 7px 0 #fff, 7px 7px 0 #fff, 7px -7px 0 #fff, -7px -7px 0 #fff;
}

